@font-face {
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('./BaiJamjuree-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('./BaiJamjuree-Bold.ttf') format('truetype');
}